attr==0.3.2
dlib==19.24.6
docutils==0.21.2
filelock==3.18.0
HTMLParser==0.0.2
ipython==9.0.2
ipywidgets==8.1.5
jnius==1.1.0
keyring==25.6.0
numpy==2.2.4
Pillow==11.1.0
protobuf==6.30.1
pygame==2.6.1
pyOpenSSL==25.0.0
pyserial==3.5
scipy==1.15.2
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
